#rightDiv img {
    max-height: 200px;
    max-width: 140px;
    float:right;
}

#leftDiv img{
    float:left;
    max-width: 250px;
    max-height: 120px;
    margin: 15px;
}

.lingid {
    background-color: #181616;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px; 
  }

.fa { 
 text-align: center;
 text-decoration: none;
}

.fa:hover {
   background: #ddd;
   color: black;
   transition: 0.5s;
}

.fa-facebook {
 padding: 10px;
 background: #181616;
 color: white;
}

.fa-twitter {
 padding: 10px;
 background: #000;
 color: white;
}

.fa-youtube {
 padding: 10px;
 background: #000;
 color: white;
}

.fa-instagram {
 padding: 10px;
 background: #181616;
 color: white;
}

.fa-spotify {
 padding: 10px;
 background: #000;
 color: white;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 1280px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}



/* Carousel Header Styles */
.header-text {
    position: absolute;
    bottom: 11%;
    left: 10%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
    text-align: left;
}

.header-text h2 {
    text-align: left;
    font-size: 18px;
}

.header-text h3 {
    text-align: left;
    font-size: 12px;
}

.header-text h3 span {
    text-align: left;
    font-size: 12px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.starter-template p,h1 {

 color: rgba(183,183,183,0.8);
}

.img-responsive {
    margin-top: 8%;
    max-width: 100%;
    height: auto;
    display: block;
}

