footer {margin-top: 2rem;}
.toode {margin-top: 2rem;}
.kontakt {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: large;
color: #007bff;
padding: 1rem;
}
#tervitus{background-color: #e2ecfd;}